In [1]:
#Creating a climate change index by predicting three features (temperature, PM2.5 mean, and energy consumption)  
#to understand and model the dynamics of climate change comprehensively.
#Combining these predictions into a single climate change index is based off of my idea to 
#provide a more integrative view of the impacts and trends associated with climate change. 

import pandas as pd

# Load the annual mean temperature data
df_temperature = pd.read_csv(r'C:\Users\Ken\Documents\Code Projects\Data_ML_Projects\MLProjectClimateResearch\ClimateResearchProject\Data\Temperature\SurfaceAirTemperatureAnnualMeanDailyMaximum.csv', parse_dates=['year'])
df_temperature['Date'] = pd.to_datetime(df_temperature['year']).dt.year  # Extract only the year
df_temperature.drop('year', axis=1, inplace=True)

# Load the pollution data
df_pollution = pd.read_csv(r"C:\Users\Ken\Documents\Code Projects\Data_ML_Projects\MLProjectClimateResearch\ClimateResearchProject\Data\Pollution\AirPollutantParticulateMatterPM2.5.csv", parse_dates=['year'])
df_pollution['Date'] = pd.to_datetime(df_pollution['year']).dt.year
df_pollution.drop('year', axis=1, inplace=True)

# Load the energy data and aggregate it by year
df_energy = pd.read_csv(r"C:\Users\Ken\Documents\Code Projects\Data_ML_Projects\MLProjectClimateResearch\ClimateResearchProject\Data\Energy\TotalFinalEnergyConsumption2009to2019.csv", parse_dates=['year'])
df_energy['Date'] = pd.to_datetime(df_energy['year']).dt.year
df_energy.drop('year', axis=1, inplace=True)

# Aggregate energy consumption by year if needed (sum of consumption)
df_energy = df_energy.groupby('Date').sum().reset_index()

# Merge dataframes on the 'Date' column
df_merged = pd.merge(df_temperature, df_pollution, on='Date', how='outer')
df_merged = pd.merge(df_merged, df_energy, on='Date', how='outer')

# Filter to only include entries from 2009 onwards
df_merged = df_merged[df_merged['Date'] >= 2009]

# Handle missing values by forward filling then filling any remaining with zero
df_merged.fillna(method='ffill', inplace=True)
df_merged.fillna(0, inplace=True)

# Save the merged DataFrame
df_merged.to_csv('merged_dataset.csv', index=False)

# Display the first few rows of the merged data to verify
print(df_merged.head())
print(df_merged.isnull().sum())

    temp_mean_daily_max  Date  pm2.5_mean  \
27                 31.7  2009        19.0
28                 31.9  2010        17.0
29                 31.2  2011        17.0
30                 31.2  2012        19.0
31                 31.3  2013        20.0

                                               sector  \
27  Commerce and Services-relatedCommerce and Serv...
28  Commerce and Services-relatedCommerce and Serv...
29  Commerce and Services-relatedCommerce and Serv...
30  Commerce and Services-relatedCommerce and Serv...
31  Commerce and Services-relatedCommerce and Serv...

                                      energy_products  consumption_ktoe
27  Coal and PeatCrude OilElectricityNatural GasOt...           10683.7
28  Coal and PeatCrude OilElectricityNatural GasOt...           12557.5
29  Coal and PeatCrude OilElectricityNatural GasOt...           12501.6
30  Coal and PeatCrude OilElectricityNatural GasOt...           12896.3
31  Coal and PeatCrude OilElectricityNatural GasOt...           13780.4
temp_mean_daily_max    0
Date                   0
pm2.5_mean             0
sector                 0
energy_products        0
consumption_ktoe       0
dtype: int64

C:\Users\Ken\AppData\Local\Temp\ipykernel_1724\1694086328.py:34: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_merged.fillna(method='ffill', inplace=True)

In [2]:
df_merged

,temp_mean_daily_max,Date,pm2.5_mean,sector,energy_products,consumption_ktoe
27,31.7,2009,19.0,Commerce and Services-relatedCommerce and Serv...,Coal and PeatCrude OilElectricityNatural GasOt...,10683.7
28,31.9,2010,17.0,Commerce and Services-relatedCommerce and Serv...,Coal and PeatCrude OilElectricityNatural GasOt...,12557.5
29,31.2,2011,17.0,Commerce and Services-relatedCommerce and Serv...,Coal and PeatCrude OilElectricityNatural GasOt...,12501.6
30,31.2,2012,19.0,Commerce and Services-relatedCommerce and Serv...,Coal and PeatCrude OilElectricityNatural GasOt...,12896.3
31,31.3,2013,20.0,Commerce and Services-relatedCommerce and Serv...,Coal and PeatCrude OilElectricityNatural GasOt...,13780.4
32,31.6,2014,18.0,Commerce and Services-relatedCommerce and Serv...,Coal and PeatCrude OilElectricityNatural GasOt...,14475.5
33,31.9,2015,24.0,Commerce and Services-relatedCommerce and Serv...,Coal and PeatCrude OilElectricityNatural GasOt...,15311.7
34,32.0,2016,15.0,Commerce and Services-relatedCommerce and Serv...,Coal and PeatCrude OilElectricityNatural GasOt...,14801.9
35,31.1,2017,14.0,Commerce and Services-relatedCommerce and Serv...,Coal and PeatCrude OilElectricityNatural GasOt...,15146.6
36,31.6,2018,15.0,Commerce and Services-relatedCommerce and Serv...,Coal and PeatCrude OilElectricityNatural GasOt...,14730.2
37,32.3,2019,16.0,Commerce and Services-relatedCommerce and Serv...,Coal and PeatCrude OilElectricityNatural GasOt...,16135.0
38,31.7,2020,11.0,Commerce and Services-relatedCommerce and Serv...,Coal and PeatCrude OilElectricityNatural GasOt...,16135.0
39,31.7,2021,12.0,Commerce and Services-relatedCommerce and Serv...,Coal and PeatCrude OilElectricityNatural GasOt...,16135.0
40,31.6,2022,11.0,Commerce and Services-relatedCommerce and Serv...,Coal and PeatCrude OilElectricityNatural GasOt...,16135.0

In [3]:
# Shift 'Date' to the first column by reordering the columns
cols = ['Date'] + [col for col in df_merged.columns if col != 'Date']
df_merged = df_merged[cols]

# Creating a copy of df_merged to ensure operations do not raise warnings
df_cleaned = df_merged.copy()

# Set 'Date' as the index of the DataFrame
df_cleaned.set_index('Date', inplace=True)

# Rename Date(Index) column to Year 
df_cleaned.index.name = 'Year'

# As 'consumption_ktoe' is the total consumption summed across all sectors,
# We can drop the 'sector' and 'energy_products' columns to simplify the DataFrame
df_cleaned.drop(['sector', 'energy_products'], axis=1, inplace=True)

# Save the cleaned DataFrame if necessary
df_cleaned.to_csv('cleaned_merged_dataset.csv')

# Display the first few rows of the cleaned data to verify
print(df_cleaned.head())

      temp_mean_daily_max  pm2.5_mean  consumption_ktoe
Year
2009                 31.7        19.0           10683.7
2010                 31.9        17.0           12557.5
2011                 31.2        17.0           12501.6
2012                 31.2        19.0           12896.3
2013                 31.3        20.0           13780.4

In [9]:
pd.set_option('display.max_colwidth', None)  # to avoid truncation of data
df_cleaned

      temp_mean_daily_max  pm2.5_mean  consumption_ktoe
Year
2009                 31.7        19.0           10683.7
2010                 31.9        17.0           12557.5
2011                 31.2        17.0           12501.6
2012                 31.2        19.0           12896.3
2013                 31.3        20.0           13780.4
2014                 31.6        18.0           14475.5
2015                 31.9        24.0           15311.7
2016                 32.0        15.0           14801.9
2017                 31.1        14.0           15146.6
2018                 31.6        15.0           14730.2
2019                 32.3        16.0           16135.0
2020                 31.7        11.0           16135.0
2021                 31.7        12.0           16135.0
2022                 31.6        11.0           16135.0

In [13]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14 entries, 2009 to 2022
Data columns (total 3 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   temp_mean_daily_max  14 non-null     float64
 1   pm2.5_mean           14 non-null     float64
 2   consumption_ktoe     14 non-null     float64
dtypes: float64(3)
memory usage: 392.0 bytes

In [14]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

# Choosing the target variable
target = 'temp_mean_daily_max'

# Create the features DataFrame and the target Series
X = df_cleaned.drop(target, axis=1)
y = df_cleaned[target]

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [15]:
# Initialize the Random Forest Regressor
model = RandomForestRegressor(n_estimators=100, random_state=42)

# Fit the model on the training data
model.fit(X_train, y_train)

# Make predictions on the test data
y_pred = model.predict(X_test)

In [16]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

# Calculate and print the errors
print("Mean Absolute Error:", mean_absolute_error(y_test, y_pred))
print("Mean Squared Error:", mean_squared_error(y_test, y_pred))
print("R^2 Score:", r2_score(y_test, y_pred))

Mean Absolute Error: 0.21133333333335594
Mean Squared Error: 0.07254333333334026
R^2 Score: -31.644500000004506